<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto con Luces de Fondo, Movimiento, Fundido y Lluvia de Estrellas</title>
</head>
<body>
    <div class="texto-luces">Ciglady</div>
    <!-- Figuritas -->
    <div class="figurita"></div>
    <div class="figurita"></div>
    <div class="figurita"></div>
    <!-- Lluvia de Estrellas -->
    <div class="estrella"></div>
    <div class="estrella"></div>
    <div class="estrella"></div>
    <!-- Agrega más estrellas si lo deseas -->
</body>
</html>
